# App Configuration
NODE_ENV="development"
APP_PORT=3000
DEBUG_PORT=9229

# Database Configuration
DATABASE_URL="postgresql://postgres:password@localhost:5432/nestjs_boilerplate?schema=public"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="password"
POSTGRES_DB="nestjs_boilerplate"
POSTGRES_PORT=5432

# Redis Configuration
REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_PASSWORD=""

# CORS
CORS_ORIGIN="http://localhost:3000"